body{
    background: #fcfcfc ;
}

#title, .subtitle, .post_title{
    color: blue;

}

.post_title{
    font-size: 16px;
    font-style: italic;
}

.post{
    background-color: #fff;
    padding: 15px;
    
   /* border: 0px solid black; */
    margin: 0px 0 15px 0;
    box-shadow: 0 0 5px black;
    border-radius: 20px;
    
}

#marcos{
    padding: 2px;
    border: 1px solid #ccc;    
    border-radius:  100px;
    box-shadow: 0 0 10px #ccc;
    height: 100px;
}

#codeimg{
    width: 660px;
    margin: 0 auto;
}